<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>
<body>
    <nav>
        <article>
            <a href="/">
                <img src="/img/logo-pokemon.png" alt="">
            </a>
            <h1>
                <a href="/">Pokédex</a>
            </h1>
        </article>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Pokédex</h1>
    </header>
    <section id="pokedex">

    </section>
</body>
</html>