* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(
    0deg,
    rgba(25, 0, 252, 0.959) 0%,
    purple 100%
  );
  background-repeat: no-repeat;
}

nav {
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

nav img {
    padding-right: 1rem;
    padding-left: 1rem;
    transition: transform 0.5s;
}

nav img:hover {
  transform: scale(1.1);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
  transition: transform 0.5s;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
}

section#message {
  padding: 1.3rem;
  background-color: yellow;
  color: black;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  color: orangered;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s;
}

span#close:hover{
  transform: scale(1.5);
}

header {
    padding-top: 7rem;
    padding-bottom: 3rem;
}

header h1 {
    color: yellow;
    font-size: 4rem;
    text-shadow: 0 0 1rem #00000060;
    text-align: center;
}

section#pokedex {
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a.card {
  width: 20rem;
  padding: 3rem;
  box-shadow: 0 0 1rem #00000060;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

a.card:hover {
  transform: scale(1.1);
}

a.card img {
  width: 15rem;
  height: 15rem;
}

a.card h2 {
  width: 100%;
  text-align: center;
  padding: 2rem;
  color: #000;
}

section#cadastrar {
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: orangered;
  margin: 0 20rem 10rem 20rem;
  box-shadow: 0 0 1rem #00000060;
  border-radius: 1rem;
}

section#cadastrar form {
  width: 100%;
  padding: 3rem;
}

section#cadastrar form div input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  border: 0.1rem solid #ccc;
}

section#cadastrar form div label {
  font-size: 1.3rem;
  color: white;
}

section#cadastrar form button {
  border: 1px solid purple;
  background-color: purple;
  color: yellow;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.3s ease-out;
  width: 40%;
}

section#cadastrar form button:hover {
  transform: scale(1.1);
}

section#details {
  margin: 0 20rem 0 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: 0 0 1rem #00000060;
}

section#details div#infos p {
  font-size: 2rem;
  padding-bottom: 3rem;
}

section#details div#infos div#info-detalhes {
  background-color: orangered;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  width: 75%;
  border-radius: 1rem;
}

section#details div#infos div#info-detalhes h3 {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 0 1rem 0;
}

section#details div#infos h3 {
  padding-top: 3rem;
  font-size: 2rem;
}

section#details div#infos h2 {
  background-color: orangered;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  width: 50%;
  text-align: center;
  margin-top: 1rem;
}